manifest {
    mainScript = 'tss_workflow.nf'
}

params{
    /*
       GENERAL CONFIGURATION

       This section holds variables that are important for all docker containers.
    */

    //  Path to data directory. All input files have to be stored here.
    //  All output files will be stored at this location.
    data = '/home/jonas/Dokumente/Universitaet_Tuebingen/Semester4/Datenmanagment_Quantitative_Biologie/Project/dmqp_2017_team_green/data'


    /*
       BWA CONFIGURATION

       Here are all configuration parameters important for BWA.
    */

    // Fasta file storing the genome (normal database)
    fasta = 'NC_002163.fa'
    fasta_enriched = 'NC_002163_enriched.fa'

    // Fastq file(s) storing the reads (normal database)
    fastq = 'SRR5646900_1.fastq SRR5646900_2.fastq'

    // Fastq file(s) storing the reads (enriched database)
    fastq_enriched = 'SRR5646900_1_enriched.fastq SRR5646900_2_enriched.fastq'

    // Number of threads
    threads = 4

    // Minimum seed length
    seed_len = 19

    // Scoring values
    match = 1
    mismatch = 4
    gap_open = 6
    gap_ext = 1

    /*
       SAMTOOLS CONFIGURATION

       Here are all configuration parameters important for SAMTOOLS.
    */

    // Input SAM file
    sam = 'input.sam'
    sam_enriched = 'input_enriched.sam'

    // Auxiliary BAM filenames used by the samtools docker container
    bam = 'normal.bam'
    bam_enriched = 'enriched.bam'

    /*
       TSSTOOLS

       All parameters about tsstools.
    */

    // BAM files containing the mapper result (normal database).
    // This will also be used as the output filename for samtools.
    bam_pos = 'positive.bam'
    bam_neg = 'negative.bam'

    // BAM file containing the mapper result (enriched database).
    // This will also be used as the output filename for samtools.
    bam_enriched_pos = 'enriched_positive.bam'
    bam_enriched_neg = 'enriched_negative.bam'


    /*
       TSSPREDATOR

       Everything needed for tsspredator.
    */

    // Filename of the configuration file for tsspredator.
    config_tsspredator = 'config.conf'

    // Heap space (used by java -Xmx).
    heap = '500m'
}
