manifest {
    mainScript = 'tsspredator_workflow.nf'
}

params{
    /*
       GENERAL CONFIGURATION

       This section holds variables that are important for all docker containers.
    */

    //  Path to data directory. All input files have to be stored here.
        All output files will be stored at this location.
    data = '/path/to/data'


    /*
       BWA CONFIGURATION

       Here are all configuration parameters important for BWA.
    */

    // Fasta file storing the genome (normal database)
    fasta = 'filename_fasta_normal'

    // Fastq file(s) storing the reads (normal database)
    fastq1 = 'filename_fastq1_normal'
    fastq2 = 'filename_fastq2_normal'

    // Fasta file storing the genome (enriched database)
    fasta_enriched = 'filename_fasta_enriched'

    // Fastq file(s) storing the reads (enriched database)
    fastq1_enriched = 'filename_fastq1_enriched'
    fastq2_enriched = 'filename_fastq2_enriched'

    // Number of threads
    threads = 1

    // Minimum seed length
    seed_len = 19

    // Scoring values
    match = 1
    mismatch = 4
    gap_open = 6
    gap_ext = 1

    /*
       SAMTOOLS CONFIGURATION

       Here are all configuration parameters important for SAMTOOLS.
    */
    // Input SAM file
    sam = 'filename sam'

    // Output bam files
    positive = 'filename positive strand bam'
    negative = 'filename negative strand bam'


    /*
       TSSTOOLS

       All parameters about tsstools.
    */

    // BAM file containing the mapper result (normal database).
    // This will also be used as the output filename for BWA.
    bam = 'filename_bam_normal'

    // BAM file containing the mapper result (enriched database).
    // This will also be used as the output filename for BWA.
    bam_enriched = 'filename_bam_enriched'


    /*
       TSSPREDATOR

       Everything needed for tsspredator.
    */

    // Filename of the configuration file for tsspredator.
    config_tsspredator = 'filename_config'

    // Heap space (used by java -Xmx).
    heap = '500m'
}
