manifest {
    mainScript = 'tsspredator_workflow.nf'
}

params{
    config_tsspredator = '${params.output}/config.conf'
    output = '/home/jonas/Dokumente/Universitaet_Tuebingen/Semester4/Datenmanagment_Quantitative_Biologie/Project/dmqp_2017_team_green/examples/data'

    fasta = 'NC_002163.fa'
    fastq1 = 'SRR5646900_1.fastq'
    fastq2 = 'SRR5646900_2.fastq'

    bam = 'mapper_result.sorted.bam'

}
